Repository grails/grails-data-hibernate5, pull requests merged in 2024-10, with the labels that each got.

#907 Update dependencies, skip failing tests and re-enable tests on workflows
  .github/workflows/gradle.yml
  .github/workflows/groovy-joint-workflow.yml
  boot-plugin/src/test/groovy/org/grails/datastore/gorm/boot/autoconfigure/HibernateGormAutoConfigurationSpec.groovy
  build.gradle
  examples/grails-hibernate-groovy-proxy/build.gradle
  examples/grails3-database-per-tenant/build.gradle
  examples/grails3-hibernate5/build.gradle
  examples/grails3-hibernate5/src/integration-test/groovy/functional/tests/CascadeValidationSpec.groovy
  examples/grails3-hibernate5/src/test/groovy/functional/tests/BookControllerUnitSpec.groovy
  examples/grails3-multiple-datasources/build.gradle
  examples/grails3-partitioned-multi-tenancy/build.gradle
  examples/grails3-partitioned-multi-tenancy/src/test/groovy/example/PartitionedMultiTenancySpec.groovy
  examples/grails3-schema-per-tenant/build.gradle
  examples/grails3-schema-per-tenant/src/test/groovy/example/SchemaPerTenantSpec.groovy
  gradle.properties
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/SubclassMultipleListCollectionSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/TablePerSubClassAndEmbeddedSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/dirtychecking/PropertyFieldSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/hasmany/ListCollectionSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/inheritance/SubclassToOneProxySpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/inheritance/TablePerConcreteClassAndDateCreatedSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/multitenancy/MultiTenancyBidirectionalManyToManySpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/multitenancy/MultiTenancyUnidirectionalOneToManySpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/services/DataServiceSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/softdelete/SoftDeleteSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/traits/TraitPropertySpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/uuid/UuidInsertSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/validation/CascadeValidationSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/validation/UniqueInheritanceSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/validation/UniqueWithHasOneSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/validation/UniqueWithinGroupSpec.groovy
  grails-plugin/build.gradle
  grails-plugin/src/test/groovy/grails/test/mixin/hibernate/HibernateSpecSpec.groovy
Labels: maintenance, test, ci

#910 Use grails-bom, grails-bom h2 version, fix h2 tests & restore domain inheritance tests
  boot-plugin/build.gradle
  build.gradle
  examples/grails3-hibernate5/grails-app/domain/functional/tests/Employee.groovy
  examples/spring-boot-hibernate5/build.gradle
  examples/standalone-hibernate5/build.gradle
  gradle.properties
  grails-datastore-gorm-hibernate5/build.gradle
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/SubclassMultipleListCollectionSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/TablePerSubClassAndEmbeddedSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/events/UpdatePropertyInEventListenerSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/inheritance/SubclassToOneProxySpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/inheritance/TablePerConcreteClassAndDateCreatedSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/validation/CascadeValidationSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/validation/UniqueFalseConstraintSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/validation/UniqueInheritanceSpec.groovy
  grails-plugin/build.gradle
  grails-plugin/src/test/groovy/grails/test/mixin/hibernate/HibernateSpecSpec.groovy
Labels: bug, maintenance, test

#912 Grails 7 Test Fixes
  .sdkmanrc
  boot-plugin/src/test/groovy/org/grails/datastore/gorm/boot/autoconfigure/HibernateGormAutoConfigurationSpec.groovy
  examples/grails-hibernate-groovy-proxy/src/test/groovy/example/ProxySpec.groovy
  examples/grails3-database-per-tenant/src/test/groovy/example/DatabasePerTenantSpec.groovy
  examples/grails3-hibernate5/build.gradle
  examples/grails3-hibernate5/src/integration-test/groovy/functional/tests/BookControllerSpec.groovy
  examples/grails3-hibernate5/src/integration-test/groovy/functional/tests/CascadeValidationSpec.groovy
  examples/grails3-hibernate5/src/integration-test/resources/GebConfig.groovy
  examples/grails3-hibernate5/src/test/groovy/functional/tests/BookControllerUnitSpec.groovy
  examples/grails3-multiple-datasources/build.gradle
  examples/grails3-multiple-datasources/src/integration-test/resources/GebConfig.groovy
  examples/grails3-partitioned-multi-tenancy/src/test/groovy/example/PartitionedMultiTenancySpec.groovy
  examples/grails3-schema-per-tenant/build.gradle
  examples/grails3-schema-per-tenant/src/integration-test/resources/GebConfig.groovy
  examples/grails3-schema-per-tenant/src/test/groovy/example/SchemaPerTenantSpec.groovy
  gradle.properties
  grails-datastore-gorm-hibernate5/src/main/groovy/org/grails/orm/hibernate/access/TraitPropertyAccessStrategy.java
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/SqlQuerySpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/TablePerSubClassAndEmbeddedSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/dirtychecking/PropertyFieldSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/hasmany/ListCollectionSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/hasmany/TwoUnidirectionalHasManySpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/multitenancy/MultiTenancyBidirectionalManyToManySpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/multitenancy/MultiTenancyUnidirectionalOneToManySpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/services/DataServiceSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/softdelete/SoftDeleteSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/traits/TraitPropertySpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/uuid/UuidInsertSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/validation/CascadeValidationSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/validation/SaveWithInvalidEntitySpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/validation/UniqueWithHasOneSpec.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/validation/UniqueWithinGroupSpec.groovy
Labels: bug, maintenance, test

#913 fix #1155 - skipValidate logic in GormValidateable causes missed validations and is inconsistent
  grails-datastore-gorm-hibernate5/src/main/groovy/org/grails/orm/hibernate/AbstractHibernateGormInstanceApi.groovy
  grails-datastore-gorm-hibernate5/src/test/groovy/grails/gorm/tests/validation/SkipValidationSpec.groovy
Labels: bug, feature
